@media (min-width:768px) {
    .news-input{
        width: 50%;
    }

    .acc{
        width: 70%;
    }
    #map{
        width: auto;
        height: 300px;
        border-radius: 10px;
    }
    
}


